
# snowflake creditinals 
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD= 
SNOWFLAKE_ROLE=
SNOWFLAKE_DEV_DB= 
SNOWFLAKE_PROD_DB= 
SNOWFLAKE_DEV_SCHEMA=
SNOFLAKE_PROD_SCHEMA= 
SNOWFLAKE_WAREHOUSE=

# postgres creditinals
SOURCE_DB=
SOURCE_USER= 
SOURCE_PASSWORD= 
SOURCE_HOST=
SOURCE_PORT=